@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #bbb;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0.5rem 10vw;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.logo {
  width: 12rem;
  height: 2rem;
  background-color: pink;
  padding: 8px 8px 4px;
  border-radius: 3px;
}

.menu-links {
  display: flex;
  gap: 1.5rem;
}

footer {
  padding: 1.5rem;
  text-align: center;
  color: #bbb;
  background-color: #1F2937;
}